html, body{
	height: 100%;
	background-color: #00095d;
    color: #FFF;
}
.number{
	font-size: 60px;
	text-align: center;
}
#left_div{
	width: 400px;
}
#left_div h2 {
	text-align: center;
}
#chart_div{
	width: 50%;
	height: 50%;
    margin-left: 25%;
}