html, body{
	height: 100%;
	background-color: #00095d;
    color: #FFF;
    padding-top: 5px;
}
h1, h6 {
	text-align: center;
}
.number_div{
	font-size: 60px;
	text-align: center;
}
.number_heading{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
#battery_voltage, #panel_amps, #panel_volts {
	font-weight: bold;
}
#warnings, #errors_fx, #errors_mx {
	color: #FF0000;
}
#left_div{
	width: 400px;
    float: left;
	/*float: left;*/
}
#right_div{
	margin-left: 400px;
}
#chart_div{
    /*margin-left: 25%;*/
	background-color: #225fe0;
}
#bottom {
	position: fixed;
    bottom: 0;
    width: 100%;
}